* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search {
  margin: 1rem;
}

.input {
  background-color: azure;
  border: 2px solid blue;
  color: blue;
  height: 1.5rem;
  width: 15rem;
  border-radius: 5px;
  padding: 5px;
}

.input:focus {
  border: 2px solid blue;
  outline: none;
}

.btn {
  color: blue;
  background-color: lightskyblue;
  border-color: blue;
  height: 1.5rem;
  width: 5rem;
  border-radius: 5px;
  cursor: pointer;
}
